Whatsapp Bot.json
{
  "name": "Whatsapp Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f8b13c40-e083-4556-8495-c3be071209e8",
      "name": "Chat Received",
      "webhookId": "697d20df-eb3e-4471-a6df-b171dd72ba72",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "6LpF2k15E6d3NXFz",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "a136b2e9-e6c4-439d-b4a0-e8e3470651ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "23121091-2df6-4c68-b6a2-db952be07dd7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SC4Ph6mQ2oiNgOyx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Received').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        352
      ],
      "id": "bc53feab-5a11-4ea5-9db1-0ab294919737",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "700198266516048",
        "recipientPhoneNumber": "+91 92894 21934",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "06382a1a-ae22-422f-b276-dc71dd5605a3",
      "name": "Send message",
      "webhookId": "2276f17e-d0c1-4147-b429-1b7bee6a7a2d",
      "credentials": {
        "whatsAppApi": {
          "id": "SsYAigBtd43TBPqA",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11a47ef4-5a09-4e9b-a59d-d12165d0c92c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1be3fe4227fe08103b288c55286c41547baefcea643195c649afc6c7f3973089"
  },
  "id": "2GWkIEYu6ge7b1nZ",
  "tags": []
}